{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{league.name}} {{league.year}}
                <small>Informacije o ligi, rezultati, trenutan poredak</small>

            </h1>
            <ol class="breadcrumb">
                <li><a href="/profile"><i class="fa fa-dashboard"></i> Profil</a></li>
                <li><a href="/leagues"><i class="fa fa-trophy"></i> Lige</a></li>
                <li class="active">Liga</li>
            </ol>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="progress-group">
                    <span class="progress-text">Gotovih utrka</span>
                    <span class="progress-number"><b>{{done}}</b>/{{league.rounds}}</span>

                    <div class="progress lg" style="background-color: white;">
                        <div class="progress-bar progress-bar-green" style="width: {{done * 100 / league.rounds}}%;"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs pull-right">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Poredak</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Utrke</a></li>
                                  
                                    <li class="pull-left header"><i class="fa fa-flag-checkered"></i> Statistike</li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <form class="form">
                                            <div class="row">
                                                <div class="form-group col-xs-6 col-sm-offset-4 col-sm-2">
                                                    <select id="age-filter" class="form-control">
                                                        <option value="default" selected disabled>Kategorije po godinama</option>
                                                        <option value="0-19">0-19</option>
                                                        <option value="20-29">20-29</option>
                                                        <option value="30-39">30-39</option>
                                                        <option value="40-49">40-49</option>
                                                        <option value="50-59">50-59</option>
                                                        <option value="60-69">60-69</option>
                                                        <option value="70-79">70-79</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-xs-6 col-sm-1">
                                                    <select id="gender-filter" class="form-control">
                                                        <option value="default" selected disabled>Spol</option>
                                                        <option value="M">Muški</option>
                                                        <option value="F">Žene</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6 col-sm-1">
                                                    <button onclick="filter(event)" type="button" class="btn btn-success btn-flat">Filtriraj</button>
                                                </div>
                                                <div class="col-xs-6 col-sm-1">
                                                    <button onclick="removeFilter(event)" type="button" class="btn btn-warning btn-flat">Poništi filter</button>
                                                </div>
                                            </div>
                                        </form>
                                        <table id="leagueResultsTable" class="table table-bordered table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Pozicija</th>
                                                    <th>Ime</th>
                                                    <th>Utrka otrčanih</th>
                                                    <th>Bodovi</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        <div class="table-responsive no-padding">
                                            <table class="table table-hover">
                                                <tr style="background: #00a65a; color: white;">
                                                    <th>Kolo</th>
                                                    <th>Status</th>
                                                    <th>Datum</th>
                                                    <th>Trkača</th>
                                                </tr>
                                                {% for race in races %}
                                                    {% if race.start_time %}
                                                        <tr onclick="window.location='/races/{{race.race_id}}'" class="clickable">
                                                            <td>{{race.league_round+1}}</td>
                                                            <td>
                                                                <span class="label label-{{'success' if race.finished else 'danger'}}">
                                                                    {{"Završeno" if race.finished else "Nezavršeno"}}
                                                                </span>
                                                            </td>
                                                            <td>{{race.start_time|datetime}}</td>
                                                            <td>{{race.race_results|length}}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}

{% block page_js %}
<script>
    $(function () {
        $('#leagueResultsTable').DataTable({
            'dom': 'Bfrtip',
            'responsive': true,
            'ajax': {
                'url': '/api/leagues/{{league.league_id}}/results',
                'cache': true,
                'dataSrc': '',
                "beforeSend": function(xhr){
                    xhr.setRequestHeader("Authorization",
                       "Basic " + btoa(localStorage.getItem('username') + ":" + localStorage.getItem('password')));
                 }
            },
            'columns': [
                {"data": "position", "orderable": false},
                {"data": "user.full_name", "orderable": false,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href=/profile/" + oData.user.username +">"+oData.user.full_name+"</a>");
                    }
                },
                {"data": "races", "orderable": false},
                {"data": "points", render: $.fn.dataTable.render.number( ',', '.', 2)},
            ],
            "createdRow": function( row, data, dataIndex){
                if( dataIndex == 0){
                    $(row).addClass('first-place');
                }

                if( dataIndex == 1){
                    $(row).addClass('second-place');
                }

                if( dataIndex == 2){
                    $(row).addClass('third-place');
                }
            }
        });
    });
</script>
<script>
        function filter(event){
            event.preventDefault();
            
            var gender = $("#gender-filter").val();
            var age = $("#age-filter").val();

            if(!gender && !age) return;

            $('#leagueResultsTable').DataTable().ajax.url('/api/leagues/{{league.league_id}}/results?gender=' + gender + '&age=' + age);
            $('#leagueResultsTable').DataTable().ajax.reload()
        }

        function removeFilter(event){
            event.preventDefault();

            $("#gender-filter").val('default');
            $("#age-filter").val('default');

            $('#leagueResultsTable').DataTable().ajax.url('/api/leagues/{{league.league_id}}/results');
            $('#leagueResultsTable').DataTable().ajax.reload()

        }
    </script>
{% endblock %}