
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Not approved</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/css/skins/skin-red-light.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-red-light sidebar-mini">
    <div class="wrapper">

        <header class="main-header">         
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img height="50" width="50" src="/static/img/logo.png"/></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Udruga Zdravo Trčanje</b></span>
            </a>       
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>


    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        </ul>
    </div>

  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"/>
    
  </aside>
  <div class="content-wrapper">


        <section class="content">
          <div class="error-page">
            <h2 class="headline text-yellow"> 404</h2>
    
            <div class="error-content">
              <h3><i class="fa fa-warning text-yellow"></i> Oops! Not approved.</h3>
    
              <p>
                You still haven't been approved by our admins. Please wait a little bit longer or contact them and then <a href="/login">login</a>.
              </p>
    
            </div>
          </div>
        </section>
      </div>

</div>


</body>
</html>
