{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Profil
            </h1>
            <ol class="breadcrumb">
                <li><a href="/profile"><i class="fa fa-user"></i> Profil</a></li>
                
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box box-danger">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{{user.avatar_url}}" alt="User profile picture">
            
                            <h3 class="profile-username text-center">{{user.name}} {{user.surname}}</h3>
            
                            <p class="text-muted text-center">Trkač</p>
            
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Email</b> <span class="pull-right">{{user.email}}</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Rodendan</b> <span class="pull-right">{{user.birthdate}}</span>
                                </li>
                                <li class="list-group-item">
                                    <b>Potvrden</b> 
                                    <span class="pull-right">
                                        {% if user.approved %}
                                            <i class="fa fa-check bg-green"></i>
                                        {% else %}
                                            <i class="fa fa-times bg-red"></i>
                                        {% endif %}
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <b>Istrčanih utrka</b>
                                    <span class="pull-right">{{ user.race_results|length }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}