{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
        <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{race.league_round + 1}}. race from {{league.name}} {{league.year}}
            {% if race.start_time != None %}
                <small>Starts on {{race.start_time}}</small>
            {% else %}
                <small class="text-danger">Race start not set!</small>
            {% endif %}

        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/leagues/"><i class="fa fa-trophy"></i> Leagues</a></li>
            <li><a href="/admin/leagues/{{race.league_id}}">League</a></li>
            <li class="active">Race</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-sm-offset-7 col-sm-5">
                <div class="box box-success">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">Until race start</h3>
                    </div>
                    <div class="box-body">
                        {% if race.start_time != None %}
                            <div id="raceStatus" class="text-center text-success" hidden>
                                <h2 id="countdownText">Race started!</h2>
                            </div>
                            <div id="countdown">
                                <div class="col-sm-4 text-center">
                                    <div class="div-bordered">
                                        <h3 id="days">-</h3>
                                    </div>
                                    Days
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="div-bordered">
                                        <h3 id="hours">-</h3>
                                    </div>
                                    Hours
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="div-bordered">
                                        <h3 id="minutes">-</h3>
                                    </div>
                                    Minutes
                                </div>
                            </div>
                        {% else %}
                            <div class="text-center text-danger">
                                <h2 id="countdownText">Race time not set!</h2>
                            </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </section>


</div>

{% endblock %}

{% block page_js %}
    <script>
        var startDate = new Date("{{race.start_time}}").getTime();

        function updateTimer(){
            var timeNow = new Date().getTime();
            var delta = startDate - timeNow;

            if(delta < 0){
                $("#countdown").hide();
                $("#raceStatus").show();
                clearInterval(x);
            }

            var days = Math.floor(delta / (1000 * 60 * 60 * 24));
            var hours = Math.floor((delta % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((delta % (1000 * 60 * 60)) / (1000 * 60));
            console.log(days);
            $("#days").html(days);
            $("#hours").html(hours);
            $("#minutes").html(minutes);


            console.log(delta);
        }

        updateTimer();
        var x = setInterval(updateTimer, 1000 * 60);

    </script>
{% endblock %}