{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pregled utrka
                <small>Registriraj se ili pregledaj utrke</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/profile"><i class="fa fa-user"></i> Profil</a></li>
                <li class="active">Utrke</li>

            </ol>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <h4 class="decorated"><span>10 budućih utrka</span></h4>
                </div>
                {% for race in future_races %}
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-content">
                                <a href="/leagues/{{future_leagues[loop.index0].league_id}}">
                                    {{future_leagues[loop.index0].name + " " + future_leagues[loop.index0].year|string}}
                                </a>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                Runda {{race.league_round + 1}} / {{future_leagues[loop.index0].rounds}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                {{race.start_time}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-mid">
                                <a href="/races/{{race.race_id}}">
                                    {% if my_results[loop.index0].start_number %}
                                        Detalji utrke
                                    {% else %}
                                        Registriraj se
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <h4 class="decorated"><span>10 prošlih utrka</span></h4>
                </div>
                {% for race in past_races %}
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-content">
                                {{past_leagues[loop.index0].name + " " + past_leagues[loop.index0].year|string}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                Runda {{race.league_round + 1}} / {{past_leagues[loop.index0].rounds}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                {{race.start_time}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-mid">
                                <a href="/races/{{race.race_id}}">
                                    Detalji utrke
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}