{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Races overview
                <small>Register or look for races</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                <li class="active">Races</li>

            </ol>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <h4 class="decorated"><span>10 future races</span></h4>
                </div>
                {% for race in future_races %}
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-content">
                                {{future_leagues[loop.index0].name + " " + future_leagues[loop.index0].year|string}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                Round {{race.league_round + 1}} / {{future_leagues[loop.index0].rounds}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                {{race.start_time}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-mid">
                                <a href="/races/{{race.race_id}}">
                                    {% if my_results[loop.index0].start_number %}
                                        Race details
                                    {% else %}
                                        Register
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <h4 class="decorated"><span>10 past races</span></h4>
                </div>
                {% for race in past_races %}
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-content">
                                {{past_leagues[loop.index0].name + " " + past_leagues[loop.index0].year|string}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                Round {{race.league_round + 1}} / {{past_leagues[loop.index0].rounds}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-content">
                                {{race.start_time}}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-mid">
                                <a href="/races/{{race.race_id}}">
                                    Race details
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}