{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{race.league_round + 1}}. race from {{league.name}} {{league.year}}
                {% if race.start_time != None and not race.finished  %}
                    <small>Starts on {{race.start_time}}</small>
                {% elif race.finished %}
                    <small>Race finished.</small>
                {% else %}
                    <small class="text-danger">Race start not yet set!</small>
                {% endif %}

            </h1>
            <ol class="breadcrumb">
                <li><a href="/profile"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/leagues/"><i class="fa fa-trophy"></i> Leagues</a></li>
                <li><a href="/leagues/{{race.league_id}}">League</a></li>
                <li class="active">Race</li>
            </ol>
        </section>

        <section class="content">
            <div class="container-fluid">
                {% if not race.finished %}
                    <div class="row">   
                        <div class="col-xs-7 col-sm-offset-1 col-sm-6">
                            <div id="countdown">
                                <div class="box box-danger">
                                    <div class="box-header with-border text-center">
                                        <h3 class="box-title">
                                            Until race start
                                        </h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-xs-3 col-sm-3 text-center">
                                            <div class="div-bordered">
                                                <h3 id="days">-</h3>
                                            </div>
                                            Days
                                        </div>
                                        <div class="col-xs-3 col-sm-3 text-center">
                                            <div class="div-bordered">
                                                <h3 id="hours">-</h3>
                                            </div>
                                            Hours
                                        </div>
                                        <div class="col-xs-3 col-sm-3 text-center">
                                            <div class="div-bordered">
                                                <h3 id="minutes">-</h3>
                                            </div>
                                            Minutes
                                        </div>
                                        <div class="col-xs-3 col-sm-3 text-center">
                                            <div class="div-bordered">
                                                <h3 id="seconds">-</h3>
                                            </div>
                                            Seconds
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-offset-1 col-sm-3">
                            {% if not my_result %}
                                <div id="register">
                                    <div class="form-group">
                                        <select id="category" class="form-control">
                                            <option disabled selected>Choose race category</option>
                                            {% for category in league.race_categories %}
                                                <option value="{{category.race_length}}">{{category.race_length}} km</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <button onclick="registerForRace()" type="submit" class="btn btn-flat btn-success">Register for race</button>
                                    </div>
                                </div>
                            {% else %}
                                <div id="start-number">
                                    <div class="small-box bg-red">
                                        <div class="inner">
                                            <h3>{{my_result.start_number}}</h3>
                            
                                            <p>My Starting Number</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div id="start-number" hidden>
                                <div class="small-box bg-red">
                                    <div class="inner">
                                        <h3 id="number"></h3>
                        
                                        <p>My Starting Number</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="box box-danger">
                            <div class="box-header">
                                <h3 class="box-title">Results</h3>
                            </div>
                            <div class="box-body">
                                <table id="resultsTable" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Name</th>
                                            <th>Time</th>
                                            <th>Category</th>
                                            <th>Start Number</th>
                                        </tr>
                                    </thead>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block page_js %}
    <script>
        var startDate = new Date("{{race.start_time}}").getTime();

        function updateTimer(){
            var timeNow = new Date().getTime();
            var delta = startDate - timeNow;

            if(delta <= 0){
                clearInterval(x);
                $("#days").html(0);
                $("#hours").html(0);
                $("#minutes").html(0);
                $("#seconds").html(0);
                return;
            }

            var days = Math.floor(delta / (1000 * 60 * 60 * 24));
            var hours = Math.floor((delta % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((delta % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((delta % (1000 * 60)) / 1000);

            $("#days").html(days);
            $("#hours").html(hours);
            $("#minutes").html(minutes);
            $("#seconds").html(seconds);

        }

        updateTimer();
        var x = setInterval(updateTimer, 1000);
    </script>

    <script>
        function registerForRace(){
            var len = $("#category").val();
            if(!len) return;

            var race_id = parseInt("{{race.race_id}}", 10);
            var user_id = parseInt("{{g.user.user_id}}", 10);

            var data = {"user_id": user_id, "race_length": len};
            window.callApi({
                url: "/api/race-results/" + race_id,
                method: "POST",
                data: JSON.stringify(data),
                success: function(data){
                    console.log(data);
                    $("#register").hide();
                    $("#start-number").show();
                    $("#number").html(data['race_result']['start_number']);
                    $('#resultsTable').DataTable().ajax.reload();
                }
            })
        }
    </script>
    <script>
        $(function () {
            $('#resultsTable').DataTable({
                'responsive': true,
                'ordering': false,
                'ajax': {
                    'url': '/api/race-results/{{race.race_id}}',
                    'cache': true,
                    'dataSrc': ''
                },
                'columns': [
                    {"data": "position"},
                    {"data": "full_name"},
                    {"data": "time"},
                    {"data": "race_length"},
                    {"data": "start_number"},
                ]
            });
        });
    </script>
{% endblock %}