{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
        <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{race.league_round + 1}}. race from {{league.name}} {{league.year}}
            {% if race.start_time != None %}
                <small>Starts on {{race.start_time}}</small>
            {% else %}
                <small class="text-danger">Race start not set!</small>
            {% endif %}

        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/leagues/"><i class="fa fa-trophy"></i> Leagues</a></li>
            <li><a href="/admin/leagues/{{race.league_id}}">League</a></li>
            <li class="active">Race</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-sm-7">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li class="active"><a href="#tab_1-1" data-toggle="tab">Registered racers</a></li>
                        <li><a href="#tab_2-2" data-toggle="tab">Results</a></li>
                        
                        <li class="pull-left header"><i class="fa fa-street-view"></i>Race overview</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="box box-success">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">
                            {% if race.start_time != None %}
                                Until race start
                            {% else %}
                                <div id="race_title" class="text-center text-danger">
                                    Race start not set
                                </div>
                            {% endif %}
                        </h3>
                    </div>
                    {% if race.start_time != None %}
                        <div id="countdown">
                            <div class="box-body">
                                <div class="col-sm-4 text-center">
                                    <div class="div-bordered">
                                        <h3 id="days">-</h3>
                                    </div>
                                    Days
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="div-bordered">
                                        <h3 id="hours">-</h3>
                                    </div>
                                    Hours
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="div-bordered">
                                        <h3 id="minutes">-</h3>
                                    </div>
                                    Minutes
                                </div>
                            </div>
                        </div>
                        <div id="markFinished" class="text-center" hidden>
                            <div class="box-body">
                                <button onclick="markRaceFinished({{race.id}})" type="submit" class="btn btn-danger">Mark race finished <span class="glyphicon glyphicon-ok"/></span></button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


</div>

{% endblock %}

{% block page_js %}
    <script>
        var startDate = new Date("{{race.start_time}}").getTime();

        function updateTimer(){
            var timeNow = new Date().getTime();
            var delta = startDate - timeNow;

            if(delta < 0){
                $("#countdown").hide();
                $("#markFinished").show();
                $(".box-title").text("Race started");
                clearInterval(x);
            }

            var days = Math.floor(delta / (1000 * 60 * 60 * 24));
            var hours = Math.floor((delta % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((delta % (1000 * 60 * 60)) / (1000 * 60));
            console.log(days);
            $("#days").html(days);
            $("#hours").html(hours);
            $("#minutes").html(minutes);


            console.log(delta);
        }

        updateTimer();
        var x = setInterval(updateTimer, 1000 * 60);

        function markRaceFinished(race_id){
            $(".box-title").text("Race finished");
            $("#markFinished").hide();
        }
    </script>
{% endblock %}