{% extends 'base.html' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Admin Dashboard
                <small>Sve informacije i statistike</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/profile"><i class="fa fa-dashboard"></i>Profil</a></li>
                <li class="active">Dashboard</li>

            </ol>
        </section>

    </div>


{% endblock %}