{% extends 'base.html' %}


{% block content %}

<div class="content-wrapper">
        <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{league.name}} {{league.year}}
            <small>Kreirao: {{league.created_by.username}}</small>
            
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Profil</a></li>
            <li><a href="/admin/leagues"><i class="fa fa-trophy"></i> Lige</a></li>
            <li class="active">Liga</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Utrke</h3>
                        </div>
                        <div class="box-body no-padding">
                            <table id="leaguesTable" class="table table-bordered">
                                <tr>
                                    <th>Runda</th>
                                    <th>Broj trkača</th>
                                    <th>Početak</th>
                                    <th>Gotovo</th>
                                    <th>Akcije</th>
                                </tr>
                                {% for race in league.races %}
                                    {% set race_data = dict(race) %}
                                    <tr>
                                        <td><a href="/admin/races/{{race_data.id}}">Utrka {{race_data.round + 1}}</a></td>
                                        <td>{{race.race_results | length}}</td>
                                        <td>
                                            {% if race_data.start_time == False %}
                                                <div id="datetimeForm{{race_data.id}}" class="form-group">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" id="inputDatetime{{race_data.id}}" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy hh:mm'" data-mask>
                                                        <span class="input-group-btn">
                                                            <button onclick="editStartTime({{race_data.id}})" type="button" class="btn btn-success btn-flat"><span class="glyphicon glyphicon-ok"/></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div id="editedDateTime{{race_data.id}}">
                                                    {{ race_data.start_time }}
                                                </div>
                                            {% endif %}
                                            <div id="editedDateTime{{race_data.id}}" hidden></div>
                                            <div id="datetimeForm{{race_data.id}}" class="form-group" hidden>
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" id="inputDatetime{{race_data.id}}" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy hh:mm'" data-mask>
                                                    <span class="input-group-btn">
                                                        <button onclick="editStartTime({{race_data.id}})" type="button" class="btn btn-success btn-flat"><span class="glyphicon glyphicon-ok"/></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        {% if race_data.finished %}
                                            <td><span class="badge bg-green"><i class="fa fa-check" /></span></td>
                                        {% else %}
                                            <td><span class="badge bg-red"><i class="fa fa-times" /></span></td>
                                        {% endif %}
                                        <td>
                                            <span onClick="showEdit({{race_data.id}})" class="text-info glyphicon glyphicon-edit clickable"/>&nbsp;
                                            <span class="text-danger glyphicon glyphicon-trash clickable" 
                                                        data-toggle="confirmation" data-singleton="true"
                                                        data-title="Jesi siguran?" data-content="Brisanje je nepovratno"
                                                        data-on-confirm="deleteRace" data-id="{{race_data.id}}"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
            </div>
        </div>

    </section>

</div>


{% endblock %}

{% block page_js %}
<script>
    function deleteRace(){
        var id = $(this)[0].getAttribute('data-id');
        
        window.callApi({
            url: '/api/races/' + id,
            method: 'DELETE',
            success: function(data){
                window.location = '/admin/leagues/{{league.league_id}}';
            }
        })
    }
    function editStartTime(race_id){
        if($("#inputDatetime"+race_id).val()){
            var data = {"start_time": $("#inputDatetime"+race_id).val()};
            $.ajax({
                url: '/api/races/' + race_id,
                method: 'PUT',
                contentType: 'application/json',
                username: localStorage.getItem('username'),
                password: localStorage.getItem('password'),
                data: JSON.stringify(data),
                success: function(data){
                    console.log(data);
                    $("#datetimeForm"+data['race']['id']).hide();
                    $("#editedDateTime"+data['race']['id']).show();
                    $("#editedDateTime"+data['race']['id']).html(data['race']['start_time']);
                }
            });
        }
    }

    function showEdit(race_id){
        var datetime = $("#editedDateTime"+race_id+":visible").html().trim();
        console.log(datetime.trim());
        $("#inputDatetime"+race_id).val(datetime);
        $("#editedDateTime"+race_id).hide();
        $("#datetimeForm"+race_id).show();

    }
</script>

<script>

    $("[id^='inputDatetime']").inputmask({
        mask: "1-2-y h:s",
        alias: "dd-mm-yyyy",
        placeholder: "dd-mm-yyyy hh:mm",
        separator: '-'
    });
</script>


{% endblock %}