{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Korisnici
                <small>Potvrdi nove korisnike i pregledaj postojece korisnike</small>

            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Profil</a></li>
                <li class="active">Korisnici</li>
                
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Potvrdi</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Korisnici</a></li>
                            <li><a href="#tab_3" data-toggle="tab">Spoji korisnike</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="box box-danger">
                                    <div class="box-header">
                                        <h3 class="box-title">Potvrdi korisnike</h3>
                                    </div>
                                    <div class="box-body">
                                        <table id="usersTable" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Korisničko ime</th>
                                                    <th>Ime</th>
                                                    <th>Email</th>
                                                    <th>Spol</th>
                                                    <th>Rođendan</th>
                                                    <th>Potvrdi</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_2">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Korisničko ime</th>
                                            <th>Ime</th>
                                            <th>Email</th>
                                            <th>Spol</th>
                                            <th>Rođendan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td><a href="/profile/{{user.username}}">{{user.username}}</a></td>
                                                <td>{{user.name}} {{user.surname}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.gender}}</td>
                                                <td>{{user.birthdate}}</td>
                                            <tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab_3">
                                <div class="text-info">*Ovo se koristi kada se registrira novi korisnik, a kojeg smo ubacili u sustav prije jer se utrkivao pa da ne bi imali vise istih korisnika te kako bi ti korisnici mogli vidjeti sve svoje stare rezultate.</div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" id="user-1-select" onchange="onFirstUserChange(this)">
                                            <option value="default" selected disabled>Korisnik koji se spaja</option>
                                            {% for user in users %}
                                                <option value="{{user.user_id}}">{{user.full_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="user-2-select" onchange="onSecondUserChange(this)">
                                            <option value="default" selected disabled>Korisnik u kojeg se spaja</option>
                                            {% for user in users %}
                                                <option value="{{user.user_id}}">{{user.full_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row add-margin-top">
                                    <div id="user-1" class="col-sm-6" hidden>
                                        <div class="box box-danger">
                                            <div class="box-body box-profile">                              
                                                <ul class="list-group list-group-unbordered">
                                                    <li class="list-group-item">
                                                        <b>Ime i prezime</b> <span id="profile-name1" class="pull-right"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Korisničko ime</b> <span id="profile-username1" class="pull-right"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Email</b> <span id="profile-email1" class="pull-right"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Rođendan</b> <span id="profile-birthdate1" class="pull-right"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="user-2" class="col-sm-6" hidden>
                                        <div class="box box-danger">
                                            <div class="box-body box-profile">                              
                                                <ul class="list-group list-group-unbordered">
                                                    <li class="list-group-item">
                                                        <b>Ime i prezime</b> <span id="profile-name2" class="pull-right"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Korisničko ime</b> <span id="profile-username2" class="pull-right"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Email</b> <span id="profile-email2" class="pull-right"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Rođendan</b> <span id="profile-birthdate2" class="pull-right"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="text-center">
                                    <button class="btn btn-success btn-flat" onclick="previewUser()" data-toggle="modal" data-target="#preview" id="preview-button" disabled>Pregledaj</button>
                                </div>

                                <div class="modal fade" id="preview">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content" id="user-final" hidden>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Pregled korisnika koji će nastati spajanjem</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="box box-danger">
                                                    <div class="box-body box-profile">                              
                                                        <ul class="list-group list-group-unbordered">
                                                            <li class="list-group-item">
                                                                <b>Ime i prezime</b> <span id="profile-name-final" class="pull-right"></span>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <b>Korisničko ime</b> <span id="profile-username-final" class="pull-right"></span>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <b>Email</b> <span id="profile-email-final" class="pull-right"></span>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <b>Rođendan</b> <span id="profile-birthdate-final" class="pull-right"></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="add-margin-top">
                                                        <table class="table table-bordered" id="results">
                                                            <thead>
                                                                <tr>
                                                                    <th>Pozicija</th>
                                                                    <th>Ime i prezime</th>
                                                                    <th>Vrijeme</th>
                                                                    <th>Kategorija</th>
                                                                    <th>Startni broj</th>
                                                                    <th>Bodovi</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="results-body">

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zatvori</button>
                                                <button type="button" class="btn btn-primary" onclick="mergeUsers()">Spoji korisnike</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        $(function () {
            var table = $('#usersTable').DataTable({
                'responsive': true,
                'ordering': false,
                'ajax': {
                    'url': '/api/users/not-approved',
                    'cache': true,
                    'dataSrc': '',
                    "beforeSend": function(xhr){
                        xhr.setRequestHeader("Authorization",
                           "Basic " + btoa(localStorage.getItem('username') + ":" + localStorage.getItem('password')));
                     }
                },
                'columns': [
                    {"data": "username"},
                    {"data": "full_name"},
                    {"data": "email"},
                    {
                        "data": null,
                        "render": function(data, type, row){
                            if(data.gender == 'F') return '<span class="fa fa-female"/>';
                            else return '<span class="fa fa-male"/>';
                        }
                    },
                    {"data": "birthdate"},
                    {
                        "data": null, 
                        "defaultContent": "<button class='btn btn-flat btn-success'>Approve</button>"
                    }
                ],
            });

            $('#usersTable tbody').on( 'click', 'button', function () {
                var data = table.row( $(this).parents('tr') ).data();
                
                window.callApi({
                    method: 'PUT',
                    url: '/api/users/' + data.username + '/approve',
                    data: {},
                    success: function(data){
                        if(data['success']){
                            table.ajax.reload();
                            $("#not-approved-users").html(Number.parseInt($("#not-approved-users").html(), 10) - 1);
                        }
                    }
                })
            } );
        });
    </script>
    <script>

        function onFirstUserChange(selected){
            window.callApi({
                method: 'GET',
                url: '/api/users/' + selected.value,
                success: function(data){
                    data = data.user;
                    $("#profile-name1").text(data.full_name);
                    $("#profile-email1").text(data.email);
                    $("#profile-birthdate1").text(data.birthdate);
                    $("#profile-username1").text(data.username);
                    $("#user-1").show();
                }
            });

            if ($("#user-2-select").val()) {
                $("#preview-button").prop('disabled', false);
            }

        }

        function onSecondUserChange(selected){
            window.callApi({
                method: 'GET',
                url: '/api/users/' + selected.value,
                success: function(data){
                    data = data.user;
                    $("#profile-name2").text(data.full_name);
                    $("#profile-email2").text(data.email);
                    $("#profile-birthdate2").text(data.birthdate);
                    $("#profile-username2").text(data.username);
                    $("#user-2").show();
                }
            });

            if ($("#user-1-select").val()) {
                $("#preview-button").prop('disabled', false);
            }
        }

        function previewUser(){
            var user_1 = $("#user-1-select").val();
            var user_2 = $("#user-2-select").val();

            window.callApi({
                method: 'GET',
                url: '/api/users-merge/' + user_1 + "/" + user_2,
                success: function(data){
                    $("#profile-name-final").text(data.user.full_name);
                    $("#profile-email-final").text(data.user.email);
                    $("#profile-birthdate-final").text(data.user.birthdate);
                    $("#profile-username-final").text(data.user.username);
                    
                    var html = '';

                    for(var i = 0; i < data.race_results.length; ++i){
                        var race_result = data.race_results[i];
                        html += '<tr>';
                        html += '<td>' + race_result.position + '</td>';
                        html += '<td>' + race_result.full_name + '</td>';
                        html += '<td>' + race_result.time + '</td>';
                        html += '<td>' + race_result.race_length + '</td>';
                        html += '<td>' + race_result.time + '</td>';
                        html += '<td>' + race_result.points + '</td>';
                        html += '</tr>';
                    }
                    $("#results-body").html(html);

                    $("#user-final").show();
                }
            });
        }

        function mergeUsers(){
            var user_1 = $("#user-1-select").val();
            var user_2 = $("#user-2-select").val();

            window.callApi({
                method: 'POST',
                url: '/api/users-merge/' + user_1 + "/" + user_2,
                success: function(data){
                    if(data.success) location.reload();
                }
            });
        }   
    </script>
{% endblock %}