{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Korisnici
                <small>Potvrdi nove korisnike i pregledaj postojece korisnike</small>

            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Profil</a></li>
                <li class="active">Korisnici</li>
                
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Potvrdi</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Korisnici</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="box box-danger">
                                    <div class="box-header">
                                        <h3 class="box-title">Potvrdi korisnike</h3>
                                    </div>
                                    <div class="box-body">
                                        <table id="usersTable" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Korisničko ime</th>
                                                    <th>Ime</th>
                                                    <th>Email</th>
                                                    <th>Spol</th>
                                                    <th>Rođendan</th>
                                                    <th>Potvrdi</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_2">
                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Korisničko ime</th>
                                            <th>Ime</th>
                                            <th>Email</th>
                                            <th>Spol</th>
                                            <th>Rođendan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td><a href="/profile/{{user.username}}">{{user.username}}</a></td>
                                                <td>{{user.name}} {{user.surname}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.gender}}</td>
                                                <td>{{user.birthdate}}</td>
                                            <tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        $(function () {
            var table = $('#usersTable').DataTable({
                'responsive': true,
                'ordering': false,
                'ajax': {
                    'url': '/api/users/not-approved',
                    'cache': true,
                    'dataSrc': '',
                    "beforeSend": function(xhr){
                        xhr.setRequestHeader("Authorization",
                           "Basic " + btoa(localStorage.getItem('username') + ":" + localStorage.getItem('password')));
                     }
                },
                'columns': [
                    {"data": "username"},
                    {"data": "full_name"},
                    {"data": "email"},
                    {
                        "data": null,
                        "render": function(data, type, row){
                            if(data.gender == 'F') return '<span class="fa fa-female"/>';
                            else return '<span class="fa fa-male"/>';
                        }
                    },
                    {"data": "birthdate"},
                    {
                        "data": null, 
                        "defaultContent": "<button class='btn btn-flat btn-success'>Approve</button>"
                    }
                ],
            });

            $('#usersTable tbody').on( 'click', 'button', function () {
                var data = table.row( $(this).parents('tr') ).data();
                
                window.callApi({
                    method: 'PUT',
                    url: '/api/users/' + data.username + '/approve',
                    data: {},
                    success: function(data){
                        if(data['success']){
                            table.ajax.reload();
                            $("#not-approved-users").html(Number.parseInt($("#not-approved-users").html(), 10) - 1);
                        }
                    }
                })
            } );
        });
    </script>
{% endblock %}